@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    @apply font-openSans;
    @apply bg-white-200;
    @apply text-sm;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-primary-100;
}

h1 {
    @apply text-3xl;
    @apply pb-4;
}

h2 {
    @apply text-2xl;
    @apply pb-2;
}

#search-bar input[type="text"] {
    height: 35px;
    width: 275px;
}

#search-bar button {
    height:35px;
}

header .container .flex-1 .fa-power-off {
    margin-top:2px;
}

#login-form #email:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    width: 1.25em;
    text-align: center;
}
