<template>
    <div>
        <h1
            class="text-4xl font-bold py-8"
        >Profile - {{user.name}}</h1>
        <form
            method="POST"
            action=""
            encType="multipart/form-data"
        >
            <div className="px-4">
                <input
                    type="file"
                    name="avatar"
                    accept="image/*"
                    @change="avatarUploaded">
            </div>
            <div>
                <button
                    type="submit"
                    className="bg-blue-500 text-md px-2 py-1 text-white m-4"
                >
                    Submit
                </button>
            </div>
        </form>
        <img :src="avatar" width="50" height="50" />
    </div>
</template>

<script>
    export default {
        props: ['user', 'avatar'],
        data() {
            return {
                endpoint: `/users/${this.user.username}/avatar`,
            }
        },
        methods: {
            avatarUploaded(e)
            {
                if(! e.target.files.length) return;
                let avatar = e.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(avatar);
                reader.onload = e => {
                    this.avatar = e.target.result;
                }
                this.uploadAvatar(avatar);
            },
            uploadAvatar(avatar) {
                let data = new FormData();
                data.append('avatar', avatar);
                axios.post(this.endpoint, data)
                .then(() => {
                    flash('Avatar uploaded!')
                });
            }
        },
    }
</script>
