<template>
	<button 
		type="submit"
		@click="toggle"
		class="px-4 rounded-md py-2 bg-gray-200">
		<i :class="classes"></i>
		<span v-text="favouritesCount"></span>
	</button>
</template>

<script>
	export default {
		props: ['reply'],
		data() {
			return {
				favouritesCount: this.reply.favourites.length,
				isFavourited: this.reply.isFavourited,
			}
		},
		computed: {
			classes() {
				return ['fas', 'fa-heart', (this.isFavourited ? 'text-red-500' : '')];
			}
		},
		methods: {
			toggle() {
				this.isFavourited ? this.destroy() : this.create();
			},
			create() {
				axios.post(`/replies/${this.reply.id}/favour`);
				this.isFavourited = true;
				this.favouritesCount++;
			},
			destroy() {
				axios.delete(`/replies/${this.reply.id}/unfavour`);
				this.isFavourited = false;
				this.favouritesCount--;
			},
		}
	};
</script>
