<template>
    <div
        class="rounded alert fixed text-white p-2"
        :class="bgColour"
        v-show="show">
        {{body}}
    </div>
</template>

<script>
    export default {
        props: ['message'],
        data() {
            return {
            	body: null,
                bgColour: null,
                show: false,
            }
        },
        created() {
            if(this.message) {
                this.flash({
                    message: this.message,
                    bgColour: 'bg-red-400',
                });
            }
            window.events.$on('flash', data => this.flash(data));
        },
        methods: {
            flash(data) {
                this.body = data.message;
                this.bgColour = data.bgColour ? data.bgColour : 'bg-green-500';
                this.show = true;
                this.hide();
            },
            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 3000);
            }
        }
    };
</script>

<style>
	.alert {
		right:25px;
		bottom:50px;
	}
</style>
