<template>
	<div>
		<div
			class="reply-field pt-8"
			v-if="signedIn">
				<form
					@submit.prevent="addReply"
				>
                    <vue-tribute :options="tributeOptions">
                        <textarea
                            placeholder="Have something to say?"
                            rows="6"
                            name="body"
                            ref="body"
                            class="w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-gray-100 mb-4"
                            v-model="body"
                            required></textarea>
                    </vue-tribute>
					<button
						class="bg-gray-200 px-2 py-2 rounded-md"
                        type="submit">Submit</button>
				</form>
			</div>
		<div v-else>
			<p class="w-full text-center">Please <a href="" class="text-blue-900 hover:underline">login</a> to post a reply
			</p>
		</div>
	</div>
</template>

<script>
    import VueTribute from 'vue-tribute';
    import Tribute from "tributejs";
	export default {
        components: {
            VueTribute,
        },
		props: {
			endpoint: String,
			required: true,
		},
		data() {
			return {
				body: '',
                userList: [],
                mentionsList: [],
			}
		},
		computed: {
			signedIn() {
				return window.App.signedIn;
			},
            tributeOptions() {
			    return {
			        trigger: '@',
                    values: this.mentionsList,
                }
            },
		},
        mounted() {
            axios.post('/users',)
                .then(data => {
                    this.mentionsList = data.data
                }).catch(error => {
                flash(error.response.data.message, 'bg-red-400');
            });
        },
		methods: {
            addReply() {
				axios.post(this.endpoint, {body: this.body})
					.then(data => {
						this.body = '';
						flash('Your reply has been posted');
						this.$emit('newreply', data.data);
					})
					.catch(error => {
						flash(error.response.data.message, 'bg-red-400');
					});
			},
		}
	};
</script>

<style lang="css">
    form {
        position: relative;
    }
    .tribute-container {
        position: absolute;
        top: 50px;
        left: 0;
        height: auto;
        max-height: 300px;
        max-width: 500px;
        overflow: auto;
        display: block;
        z-index: 999999;
    }
    .tribute-container ul {
        margin: 0;
        margin-top: 2px;
        padding: 0;
        list-style: none;
        background: #efefef;
    }
    .tribute-container li {
        padding: 5px 5px;
        cursor: pointer;
    }
    .tribute-container li.highlight {
        background: #ddd;
    }
    .tribute-container li span {
        font-weight: bold;
    }
    .tribute-container li.no-match {
        cursor: default;
    }
    .tribute-container .menu-highlighted {
        font-weight: bold;
    }
</style>
