<template>
	<nav 
		class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" 
		aria-label="Pagination"
		v-if="shouldPaginate">
		<a 
			href="#"
			v-if="prevUrl"
			class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
			@click.prevent="page--">
          <span>Previous&laquo;</span>
        </a>
        <a 
        	href="#" 
        	v-if="nextUrl"
        	class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        	@click.prevent="page++">
          <span>Next &raquo;</span>
        </a>
	</nav>
</template>

<script>
	export default {
		props: ['dataSet'],
		data() {
			return {
				page: 1,
				prevUrl: false,
				nextUrl: false,
			}
		},
		watch: {
			dataSet() {
				this.page = this.dataSet.current_page;
				this.prevUrl = this.dataSet.prev_page_url;
				this.nextUrl = this.dataSet.next_page_url;
			},
			page() {
				this.broadcast().updateUrl();
			}
		},
		computed: {
			shouldPaginate() {
				return this.prevUrl || this.nextUrl;
			}
		},
		
		methods: {
			broadcast() {
				this.$emit('page', this.page);
				return this;
			},
			updateUrl() {
				history.pushState(null, null, `?page=${this.page}`);
			}
		}
	};
</script>