<template>
	<div>
		<div v-for="(reply, index) in items" :key="reply.id">
			<reply
				:reply="reply"
				@replydeleted="deleteReply(index)"
			>
			</reply>
		</div>
		<paginator
			:dataSet="dataSet"
			@page="fetchReplies">
		</paginator>
            <newReply
                :endpoint="endpoint"
                v-if="! $parent.locked && $authorize('signedIn')"
                @newreply="addReply">
            </newReply>
        <p
            v-if="$parent.locked">
            This thread is locked. No more replies are allowed
        </p>
	</div>
</template>

<script>
	import Reply from './Reply.vue';
	import NewReply from './NewReply.vue';
	import collection from '../mixins/Collections';
	export default {
		components: {Reply, NewReply},
		mixins: [collection],
		data() {
			return {
				dataSet: false,
				endpoint: `${location.pathname}/replies`,
				items: [],
	 		}
		},
		methods: {
			fetchReplies(page) {
				if(!page) {
					let query = location.search.match(/page=(\d+)/);
					page = query ? query[1] : 1;
				}
				axios.get(`${this.endpoint}?page=${page}`)
					.then(this.refresh);
			},
			deleteReply(index) {
				this.items.splice(index, 1);
			},
			addReply(reply) {
				this.items.push(reply);
			},
			refresh({data})	 {
				this.dataSet = data;
				this.items = data.data;
				window.scrollTo(0, 0);
			}
		},
		created() {
			this.fetchReplies();
		},
	};
</script>
