<template>
	<div
        class="reply p-4 mb-4 rounded-md border-2"
        :class="isBest ? 'bg-green-50' : '' "
        :id="'reply-'+id">
		<div
            class="flex align-top">
			<div class="flex-1">
				<a
					:href="profileLink"
					class="text-blue-900 hover:underline"
					v-text="reply.owner.name">
				</a>
				wrote <span v-text="ago"></span>
			</div>
			<div v-if="signedIn">
				<favourite
					:reply="reply">
				</favourite>
			</div>
		</div>
		<div v-if="editing" class="pt-4">
			<form
				@submit.prevent="update"
			>
				<textarea
					name="body"
					rows="2"
					class="w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-grey"
					v-model="reply.body"
					required>
				</textarea>
				<div class="flex pt-4">
					<button
						type="submit"
						class="bg-gray-100 mr-4 p-2 text-s"
						>
						Update
					</button>
					<a href="#"
						class="hover:underline text-xs"
						@click="editing = false">
						Cancel
					</a>
				</div>
			</form>
		</div>
		<div
            v-else
            v-html="reply.body"
            class="pt-4">
		</div>
		<div class="flex pt-4">
            <div
                class="flex"
                v-if="$authorize('owns', reply)">
                <div class="mr-4">
                    <button
                        type="submit"
                        class="bg-gray-100 p-2 text-xs"
                        @click="editing = true">
                        Edit
                    </button>
                </div>
                <div class="mr-4">
                    <button
                        type="submit"
                        class="bg-red-500 p-2 text-xs text-white"
                        @click="destroy">
                        Delete
                    </button>
                </div>
            </div>
            <div
                class="flex flex-2"
                v-if="$authorize('owns', reply.thread)">
                <div
                    class="mr-auto flex-1 flex justify-end">
                    <button
                        type="submit"
                        class="bg-blue-300 p-2 text-xs text-white"
                        @click="setBestReply">
                        Best Reply
                    </button>
                </div>
            </div>
		</div>
	</div>
</template>

<script>
	import Favourite from './Favourite.vue';
	import moment from 'moment';
	export default {
		props: ['reply'],
		components: { Favourite },
		data() {
			return {
				editing: false,
				id: this.reply.id,
				profileLink: '/profile/' + this.reply.owner.username,
                isBest: this.reply.bestReply,
			}
		},
		methods: {
			update() {
				axios.patch(`/replies/${this.id}/update`, {
					body: this.reply.body
				})
				.then(() => {
					flash('Reply was updated!');
					this.editing = false;
				})
				.catch(error => {
					flash(error.response.data, 'bg-red-400');
				});
			},
			destroy() {
				axios.delete(`/replies/${this.reply.id}/destroy`);
				this.$emit('replydeleted');
				flash('Repy was deleted');
			},
            setBestReply() {
                this.isBest = true;
                window.events.$emit('setBest', this.reply.id);
                axios.post(`/${this.reply.thread_id}/replies/${this.reply.id}/best`, []);
            },
		},
        created() {
            window.events.$on('setBest', id => {
                this.isBest = (id === this.id);
            });
        },
		computed: {
			signedIn() {
				return window.App.signedIn;
			},
			ago() {
				return moment(this.reply.created_at).fromNow();
			},
		}
	};
</script>

<style>
	button {
		display:inline-flex;
		border-radius: 0.375rem;
		font-weight:600;
		text-transform: uppercase
	}
	button:hover {
		text-decoration: underline
	}
</style>


