<template>
	<div>
		<button 
			class="px-4 py-2 rounded-md mt-4"
			:class="classes"
			@click="subscribe"
			v-text="buttonAction"></button>
	</div>
</template>

<script>

export default {
	props: ['isactive'],
	data() {
		return {
			active: this.isactive,
		}
	},
	computed: {
		classes() {
			return ['btn', this.active ? 'bg-blue-500 text-white' : 'bg-gray-200'];
		},
		buttonAction() {
			return this.active ? 'Unsubscriive' : 'Subscribe';
		}
	},
	methods: {
		subscribe() {
			axios.[this.active ? 'delete' : 'post'](`${location.pathname}/subscribe`)
			.then(response => {
				flash('Subscribed!');
				this.active = !this.active;
			});
		}
	}	
};

</script>