<template>
	<div 
		class="menu-dropdown-menu mr-8"
		v-if="notifications.length">
		<i class="fa fa-bell" aria-hidden="true"></i>
		<div class="sub-menu hidden">
			<div 
				class="w-full" 
				v-for="notification in notifications">
				<a 
					:href="notification.data.link"
					@click.prevent="notificationRead(notification)">{{notification.data.message}}</a>
			</div>
        </div> 
    </div>
</template>

<script>
	export default {
		props: {
			notifications: false,
		},
		methods: {
			notificationRead(notification) {
				axios.delete(`/profile/notifications/${notification.id}`)
				.then(response => {
					window.location.href = notification.data.link;
				})
				.catch(error => {
					console.log(error);
				});
			}
		},
	};
</script>